/* App.css */

.laava {
  background-color: #4CAF50; /* Green background color */
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.laava h1 {
  margin: 0;
}

/* You can adjust the background color, padding, and other styles as needed. */

.app {
  text-align: center;
  padding: 0 px;
  margin:0px;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), /* Dark overlay with 10% opacity */
    url('../Static/image1.jpg') center/cover fixed;


}
