.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 20px;
}

.openStatment {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 150px;
  text-align: center;
  max-width: 800px;
  border-radius: 30px;
  margin-bottom: 50px;
  color: #012707;
}

.loginLink,
.singupLink {
  margin-top: 20px;
}

.links {
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
  text-align: center;
}

.singupLink {
  margin-left: 150px;
}

button {
  background-color: #012707;
  color: white;
  height: 50px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #176723;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .about {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .openStatment {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .links {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .signupLink {
    margin-left: 0;
    margin-top: 10px;
  }
  
  button {
    width: 150px;
    height: 40px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .about {
    height: 100%;
  }
  
  .openStatment {
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .loginLink,
  .singupLink {
    margin-top: 10px;
  }
  
  .singupLink {
    margin-left: 0;
  }
  
  button {
    width: 120px;
    height: 35px;
    font-size: 12px;
  }
}
