.data-area {
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: aliceblue;
    background-color: #011007;
    padding-bottom: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section-title {
    text-align: center;
    font-size: xx-large;
    color: white;
    margin-bottom: 15px;
    padding-left: 120px;
    animation: growAndShrink 3s ease infinite alternate;
  }
  
  @keyframes growAndShrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  
  .form-container {
    padding-left: 150px;
    padding-top: 50px;
    width: 70vw;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  
  .form-column1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .form-column2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
 
  
  .form-group label {
    font-weight: bold;
    color: aliceblue;
    margin-right: 10px;
  }
  
  .form-group input {
    width: 400px;
    height: 30px;
    padding: 8px 12px;
    border: 5px solid #ccc;
    border-bottom: 5px solid #011007;
    border-radius: 20px;
    font-size: 14px;
  }
  
  .submit-btn-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .submit-btn {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    width: 300px;
    margin-top: 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }