/* Login.css */

.login {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  /* background-color: #f4f4f4; */
  background-color: none;
  height: 70vh;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
}
/* .space {
    margin-bottom: 300px;
} */
.background {
    margin-bottom: 300px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    /* padding-bottom: 1px; */
}
form {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 100px; */

}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.username,.password{

  border-radius: 20px;

}



.btn1 {
  background-color: #012707;
  color: white;
  height:35px;
  width: 100px;
  
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.btn1:hover {
  background-color: #0d7b1e;
}
/* Login.css */

.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px; /* Adjust the margin as needed */
}

.btn1 {
  background-color: #012707;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.btn1:hover {
  background-color: #0e701d;
}

.forgot-password, h4, Link{
  color: #012707;
  text-decoration: none;
  font-size: 14px;

}

.forgot-password:hover {
  text-decoration: underline;
}

/***************************
/* Your existing CSS */

.password-container {
  display: flex;
  width: 100%;
}

.password {
  flex: 1;
  padding: 10px; /* Adjust the padding as needed */
  margin-right: 10px; /* Adjust the margin as needed */
}

.buttonToggle {
  background: #012707;
  border: none;
  cursor: pointer;
  width: 30px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
}

h4 {
  text-underline-offset: none;
}