<<<<<<< HEAD
.signup {
    text-align: center;
    padding: 50px 0;
  }
  
  .signup h1 {
    color: #012707;
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  .signForm {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .signForm input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button-container button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #012707;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-container button:hover {
    background-color: #176723;
  }
  
  .footer {
    margin-top: 50px;
  }
  
=======
.signup h1 {
    color: aliceblue;
}

.butt {
    margin-bottom: 100px;
    /* align-items: center ; */
    margin-left: 0px;

}

button {
    margin-left: 20px;
}

.signForm {
    width: 200px;
    margin: 0 auto; 
 }
>>>>>>> f81730a2b63c02735b5737425c937e87ab16f566
