.laava {
  background-color: #012707; /* Green background color */
  text-align: center;
  padding: 10px 0;
  color: white;
  border-radius: 5px;
  height: 6vh;
}

.laava h1 {
  margin: 0;
}

.app {
  text-align: center;
  padding: 0;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../Static/image1.jpg') center/cover fixed;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .laava {
    padding: 5px 0;
  }

  .app {
    padding: 0;
    margin: 0;
  }
}
