.footer {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    gap: 40px; /* Space between elements */
    width: 100%;
    height: 6vh;
    background-color: #012707;
    font-size: 15px;
    color: white;
    border-radius: 5px;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .footer {
      height: 5vh; /* Adjust height for smaller screens */
      gap: 20px; /* Decrease space between elements */
      font-size: 13px; /* Decrease font size */
    }
  }
  
  @media (max-width: 480px) {
    .footer {
      height: 4vh; /* Further adjust height for even smaller screens */
      gap: 10px; /* Further decrease space between elements */
      font-size: 11px; /* Further decrease font size */
    }
  }
  