/* Search.css */

.search-container {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto; /* Center the search container horizontally */
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd; /* Light gray border */
  border-radius: 5px;
  font-size: 16px;
  color: #333; /* Dark text color */
  transition: border-color 0.3s; /* Smooth transition for border color */
}

.search-input:focus {
  border-color: #56d55d; /* Highlight border color when input is focused */
}

.search-button {
  background-color: #56d55d; /* Green background color */
  color: white; /* White text color */
  border: none;
  cursor: pointer;
  padding: 10px 20px; /* Increase padding for better clickability */
  border-radius: 5px;
  margin-left: 10px; /* Add some spacing between input and button */
}

.search-button img {
  width: 20px;
  height: 20px;
  vertical-align: middle; /* Align the icon vertically */
  margin-right: 5px; /* Add some spacing between icon and text */
}

.search-button:hover {
  background-color: #4ab64a; /* Darker green on hover */
}
@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
    padding: 0 20px;
  }

  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-button {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .search-input {
    font-size: 14px;
    padding: 8px;
  }

  .search-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .search-button img {
    width: 16px;
    height: 16px;
  }
}